<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">

    <a class="navbar-brand fw-bold" href="/">
       Secure Login System
    </a>

    <div>

      <a
        href="/dashboard"
        class="btn btn-outline-light me-2">

        Dashboard

      </a>

      <a
        href="/logout"
        class="btn btn-danger">

        Logout

      </a>

    </div>

  </div>

</nav>