<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">

    <a class="navbar-brand fw-bold" href="/">
       Secure Login System
    </a>

    <div>

      <a
        href="/"
        class="btn btn-outline-light me-2">

        Home

      </a>

      <a
        href="/register"
        class="btn btn-outline-primary me-2">

        Register

      </a>

      <a
        href="/login"
        class="btn btn-outline-success">

        Login

      </a>

    </div>

  </div>

</nav>